<ion-modal-view class="bg-main">
    <ion-content class="light text-center">
        <br />
        <br />
        <br />
        <br />
        <p>
            คุณเหลือแต้มที่ใช้ได้
        </p>
        <h4 class="light">
            {{ cx.couponDataSvc.RemainingPoints }} แต้ม
        </h4>
        <br />
        <p>รอประกาศผลรายชื่อผู้โชคดี <br /> ในวันที่  {{ cx.buyCouponResult.AnnounceableDate | date : dd/MM/yyyy }}<br /> ขอบพระคุณที่ร่วมสนุกกับเรา</p>
    </ion-content>
    <ion-footer-bar class="bar-balanced">
        <a menu-close class="col button button-clear text-right" ng-click="CompletedPopup.hide()" href="#">
            เสร็จสิ้น >>
        </a>
    </ion-footer-bar>
</ion-modal-view>