<ion-view view-title="DAILY SOCCER">
    <ion-content>
        <br />
        <div class="col col-80 col-offset-10">
            <p>
                แต้มสะสมทั้งหมด {{ cx.buySvc.RemainingPoints }} คะแนน
            </p>
            <p>
                แลกคูปองได้สูงสุด {{ cx.buySvc.BuyingPower }} ใบ
            </p>
        </div>
        <br />
        <form class="text-center">
            <p class="col row row ">
                <b>ซื้อคูปอง จำนวน</b>
            </p>
            <div class="col row">
                <p>
                    <input type="number" ng-model="buyAmount" ng-minlength="1" class="col col-50 input-number block-center text-center" />
                </p>
            </div>
            <div class="col row">
                <div class="button button-energized col col-50 button-small block-center" ng-click="cx.BuyCoupons(buyAmount)">
                    ส่งคูปองลุ้นรางวัล
                </div>
                <button ng-click="ErrorPopup.show()">ErrorPopup</button>
            </div>
        </form>
    </ion-content>
</ion-view>