<ion-modal-view class="bg-main">
    <ion-content class="light">
        <br />
        <br />
        <br />
        <br />
        <p>
            คุณเหลือแต้มที่ใช้ได้
        </p>
        <h2>
            {{ cx.couponDataSvc.RemainingPoints }} แต้ม
        </h2>
        <br />
        <p>รอประกาศผลรายชื่อผู้โชคดี <br /> ในวันที่  {{ cx.buyCouponResult.AnnounceableDate | date : dd/MM/yyyy }}<br /> ขอบพระคุณที่ร่วมสนุกกับเรา</p>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced">
        <h1 class="title text-right">
            <a  ng-click="CompletedPopup.hide()">
                เสร็จสิ้น >>
            </a>
        </h1>
    </ion-footer-bar>
</ion-modal-view>