<ion-view view-title="DAILY SOCCER" class="scroll-middle">
    <ion-content>
        <div class="row row-center">
            <div class="col col-center">
                <div>
                    <h1>Processing</h1>
                    <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
                </div>
            </div>
        </div>
        <div class="col row">
            <button ng-click="FacebookPopup.show()">Facebook</button>
            <button ng-click="TiePopup.show()">Tie</button>
            <button ng-click="CompletedPopup.show()">BuyCouponCompleted</button>
        </div>
    </ion-content>
</ion-view>