<ion-modal-view ng-controller="app.shared.FavoriteController as favCtlr">
    <ion-header-bar align-title="left" class="bar-positive">
        <div>
            <img height="35" src="img/FcLogox1.png" bh-src-responsive="[ [ 'small', 'img/FcLogox2.png' ], [ 'medium', 'img/FcLogox3.png' ], [ 'retina', 'img/FcLogox3.png' ] ]" />
        </div>
            <h1 class="title">เลือกทีมที่ชอบ</h1>
    </ion-header-bar>
    <ion-content>

        <div class="title padding row">
            <div class="border-radius-large row item item-positive bar-balanced">
                <div class="buttons buttons-icon" ng-click="favCtlr.PreviousPages()">
                    <button class="button button-icon button-small icon-left ion-chevron-left button-clear button-white"></button>
                </div>
                <div class="text-center col">
                    <span>{{favCtlr.league[favCtlr.Pages].Name}}</span>
                </div>
                <div class="buttons buttons-icon bar-balanced" ng-click="favCtlr.NextPages(favCtlr.league[favCtlr.Pages].id)">
                    <button class="button button-icon button-small icon-left ion-chevron-right button-clear button-white"></button>
                </div>
            </div>
        </div>
        <div class="title padding row" ng-repeat="item in favCtlr.team">
            <label class="col borderless row item item-radio item-stable ng-valid">
                <input type="radio" name="radio-group" ng-value="{{item.id}}" ng-checked="favCtlr.IsSelectedTeam(item.id)" ng-click="favCtlr.SelectTeam(item.id)">
                <span class="radio-content">
                    <span class="title">{{item.Name}}</span>
                    <span>
                        <i class="radio-icon disable-pointer-events icon ion-ios-star"></i>
                    </span>
                </span>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-balanced">
            <a class="col button button-clear text-right" ng-click="cx.ClosePopUp()" href="#">
                เริ่มต้นใช้งาน >>
            </a>
    </ion-footer-bar>
</ion-modal-view>