<ion-modal-view>
    <ion-header-bar class="bar-positive">
            <h1 class="title">เลือกทีมที่ชอบ</h1>
    </ion-header-bar>
    <ion-content>

        <div class="title padding row">
            <div class="border-radius-large row item item-positive bar-balanced">
                <div class="buttons buttons-icon" ng-click="cx.PreviousPages()">
                    <button class="button button-icon button-small icon-left ion-chevron-left button-clear button-white"></button>
                </div>
                <div class="text-center col">
                    <span>{{cx.league[cx.Pages].LeagueName}}</span>
                </div>
                <div class="buttons buttons-icon bar-balanced" ng-click="cx.NextPages()">
                    <button class="button button-icon button-small icon-left ion-chevron-right button-clear button-white"></button>
                </div>
            </div>
        </div>
        <div class="title padding row" ng-repeat="item in cx.team | filter: {LeagueId: (cx.league[cx.Pages].LeagueId) }">
            <label class="col no-border row item item-radio item-stable ng-valid">
                <input type="radio" name="radio-group" ng-value="{{item.TeamId}}">
                <div class="radio-content">
                    <span class="title">{{item.TeamName}}</span>
                    <i class="radio-icon disable-pointer-events icon ion-ios-star"></i>
                </div>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-balanced">
            <a class="col button button-clear text-right" ng-click="cx.ClosePopUp()" href="#">
                เริ่มต้นใช้งาน >>
            </a>
    </ion-footer-bar>
</ion-modal-view>