<ion-view  view-title="DAILY SOCCER">
    <ion-nav-buttons side="left">
                <div class="trophy">
                    <i class="ion-trophy" style="color:black; font-size:24px;">
                        <span class="soccer-number" style="font-size:initial;">
                            0
                        </span>
                    </i>
                </div>
    </ion-nav-buttons>        
    <ion-content class="matches">
        <div>
            <img class="col banner" src="http://banbanbook.com/banbanbook/assets/upload/file/_1.jpg" />
        </div>
        <div class="padding">
            <a ui-sref="app.reward.lists" class="button-small button button-energized row">
                <div class="col col-10 col-center">
                    <i class="icon ion-star">
                    </i>
                </div>
                <span class="col col-center text-left font-large">
                    แต้มสะสม {{ cx.couponSummary.RemainingPoints }}
                </span>
            </a>
        </div>
        <div ng-repeat="league in cx.leagues">
            <div class="bar bar-stable col league text-center">{{ league.Name }}</div>
                <ion-list>
                    <div ng-repeat="item in league.Matches" class="text-center">
                        <div class="item match">
                            <div class="match-status">
                                <span class="col">{{item.Status}}</span>
                            </div>
                            <div class="row match-name">
                                <div class="col team-name">{{item.TeamHomeName}}</div>
                                <div class="col">
                                    <span>{{item.TeamHomeScore}} - {{item.TeamAwayScore}}</span>
                                </div>
                                <div class="col team-name">{{item.TeamAwayName}}</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button ng-class="{
                                        'button-dark': cx.IsUnSelectedHome(item),
                                        'button-balanced': cx.IsSelectedHome(item),
                                        'button-energized': cx.IsPredictHomeWin(item),
                                        'button-assertive': cx.IsPredictHomeLose(item)}"
                                            ng-disabled="cx.IsGameStarted(item)"
                                            ng-click="cx.predictTeamHome(item)"
                                            class="button col">
                                        {{item.TeamHomePoint}}
                                        <span class="prediction-point" ng-show="cx.IsShowHomePredictionPoint(item)">{{cx.GetPredictionPoint(item)}}'</span>
                                    </button>
                                    <small>Home</small>
                                </div>
                                <div class="col">
                                    <button ng-class="{
                                        'button-dark': cx.IsUnSelectedDraw(item),
                                        'button-balanced': cx.IsSelectedDraw(item),
                                        'button-energized': cx.IsPredictDrawWin(item),
                                        'button-assertive': cx.IsPredictDrawLose(item)}"
                                            ng-disabled="cx.IsGameStarted(item)"
                                            ng-click="cx.predictDraw(item)"
                                            class="button col">
                                        {{item.DrawPoints}}
                                        <span class="prediction-point" ng-show="cx.IsShowDrawPredictionPoint(item)">{{cx.GetPredictionPoint(item)}}'</span>
                                    </button>
                                    <small>Draw</small>
                                </div>
                                <div class="col">
                                    <button ng-class="{
                                        'button-dark': cx.IsUnSelectedAway(item),
                                        'button-balanced': cx.IsSelectedAway(item),
                                        'button-energized': cx.IsPredictAwayWin(item),
                                        'button-assertive': cx.IsPredictAwayLose(item)}"
                                            ng-disabled="cx.IsGameStarted(item)"
                                            ng-click="cx.predictTeamAway(item)"
                                            class="button col">
                                        {{item.TeamAwayPoint}}
                                        <span class="prediction-point" ng-show="cx.IsShowAwayPredictionPoint(item)">{{cx.GetPredictionPoint(item)}}'</span>
                                    </button>
                                    <small>Away</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-list>
        </div>
        
    </ion-content>
</ion-view>