<ion-view  view-title="DAILY SOCCER">
    <ion-nav-buttons side="left">
                <div class="trophy">
                        <img height="20" src="img/Trophyx1.png" bh-src-responsive="[ [ 'small', 'img/Trophyx2.png' ], [ 'medium', 'img/Trophyx3.png' ], [ 'retina', 'img/Trophyx3.png' ] ]" />
                        <span class="soccer-number dark">
                            {{ cx.PredictionRemainingCount }}
                        </span>
                </div>
    </ion-nav-buttons>        
    <ion-content class="matches">
        <div>
            <img class="col banner" src="http://banbanbook.com/banbanbook/assets/upload/file/_1.jpg" />
        </div>
        <div class="padding">
            <a ui-sref="app.reward.lists" class="button button-energized row small-line-height no-padding">
                <div class="col col-10 col-center no-padding">
                    <i class="icon ion-star">
                    </i>
                </div>
                <span class="col col-center text-left">
                    แต้มสะสม {{ cx.couponSummary.RemainingPoints }}
                </span>
            </a>
        </div>
        <div ng-show="cx.leagues.length == 0" class="text-center">
            <br />
            <div class="col col-75 block-center no-item">
                <img class="col col-60 block-center" src="img/NoMatchIconx1.png" bh-src-responsive="[ [ 'small', 'img/NoMatchIconx2.png' ], [ 'medium', 'img/NoMatchIconx3.png' ], [ 'retina', 'img/NoMatchIconx3.png' ] ]" />
                <h4 class="royal">ไม่มีข้อมูลการแข่งขัน !</h4>
            </div>
        </div>
        <div ng-repeat="league in cx.leagues">
            <div class="item item-stable col league text-center borderless small-line-height">{{ league.Name }}</div>
                <ion-list>
                    <div ng-repeat="item in league.Matches" class="text-center">
                        <div class="item match">
                            <div class="match-status">
                                <span class="col">{{item.Status}}</span>
                            </div>
                            <div class="row match-name">
                                <div class="col team-name">{{item.TeamHomeName}}</div>
                                <div class="col">
                                    <span ng-show="item.StartedDate == null">{{ item.BeginDate | date: 'HH:mm' }}</span>
                                    <span ng-show="item.StartedDate != null">{{item.TeamHomeScore}} - {{item.TeamAwayScore}}</span>
                                </div>
                                <div class="col team-name">{{item.TeamAwayName}}</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button ng-class="{
                                        'button-dark': cx.IsUnSelectedHome(item),
                                        'button-balanced': cx.IsSelectedHome(item),
                                        'button-energized': cx.IsPredictHomeWin(item),
                                        'button-assertive': cx.IsPredictHomeLose(item)}"
                                            ng-disabled="cx.IsGameStarted(item)"
                                            ng-click="cx.predictTeamHome(item)"
                                            class="button col">
                                        {{item.TeamHomePoint}}
                                        <span class="prediction-point" ng-show="cx.IsShowHomePredictionPoint(item)">{{cx.GetPredictionPoint(item)}}'</span>
                                    </button>
                                    <small>Home</small>
                                </div>
                                <div class="col">
                                    <button ng-class="{
                                        'button-dark': cx.IsUnSelectedDraw(item),
                                        'button-balanced': cx.IsSelectedDraw(item),
                                        'button-energized': cx.IsPredictDrawWin(item),
                                        'button-assertive': cx.IsPredictDrawLose(item)}"
                                            ng-disabled="cx.IsGameStarted(item)"
                                            ng-click="cx.predictDraw(item)"
                                            class="button col">
                                        {{item.DrawPoints}}
                                        <span class="prediction-point" ng-show="cx.IsShowDrawPredictionPoint(item)">{{cx.GetPredictionPoint(item)}}'</span>
                                    </button>
                                    <small>Draw</small>
                                </div>
                                <div class="col">
                                    <button ng-class="{
                                        'button-dark': cx.IsUnSelectedAway(item),
                                        'button-balanced': cx.IsSelectedAway(item),
                                        'button-energized': cx.IsPredictAwayWin(item),
                                        'button-assertive': cx.IsPredictAwayLose(item)}"
                                            ng-disabled="cx.IsGameStarted(item)"
                                            ng-click="cx.predictTeamAway(item)"
                                            class="button col">
                                        {{item.TeamAwayPoint}}
                                        <span class="prediction-point" ng-show="cx.IsShowAwayPredictionPoint(item)">{{cx.GetPredictionPoint(item)}}'</span>
                                    </button>
                                    <small>Away</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-list>
        </div>
        
    </ion-content>
</ion-view>