<ion-view view-title="DAILY SOCCER">
    <ion-content class="today-match">
        <div>
            <img class="col banner" src="http://banbanbook.com/banbanbook/assets/upload/file/_1.jpg" />
        </div>
        <ion-list>
            <div ng-repeat="day in cx.data" class="padding-small">
                <ion-item class="item-stable row borderless small-line-height no-padding" ng-click="cx.toggleGroup(day)">
                    <div class="col col-20 col-center text-center">
                        <b>+{{day.TotalPoints}}</b>
                    </div>
                    <div class="col col-center text-center">
                        {{day.Date | date: 'longDate' }}
                    </div>
                    <dsiv class="col col-20 col-center text-right">
                        <i class="icon" ng-class="cx.isGroupShown(day) ? 'ion-chevron-down' : 'ion-chevron-up'"></i>
                    </dsiv>
                </ion-item>
                <div ng-repeat="item in day.PredictionResults" ng-show="cx.isGroupShown(day)" class="row text-center">
                    <div class="col col-20 col-center"><strong>+{{item.GainPoints}}</strong> 
                    </div>
                    <div class="col col-center">
                        <div class="row match-name">
                            <div class="col team-name">
                                {{item.TeamHomeName}}
                            </div>
                            <div class="col col-30">
                                {{item.TeamHomeScore}} - {{item.TeamAwayScore}}
                            </div>
                            <div class="col team-name">
                                {{item.TeamAwayName}}
                            </div>
                        </div>
                    </div>

                    <div class="col col-20 col-center">
                        <div ng-show="{{item.IsPredictionTeamHome}}">
                            Home
                        </div>
                        <div ng-show="{{item.IsPredictionTeamAway}}">
                            Draw
                        </div>
                        <div ng-show="{{item.IsPredictionDraw}}">
                            Away
                        </div>
                    </div>

                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
