<ion-view view-title="DAILY SOCCER">
    <ion-content class="rewards">
        <div class="padding">
            <ion-item class="item-balanced text-center">
                <b>
                    เงื่อนไขการรับรางวัล
                </b>
                <br />
                <p class="text-dark">
                    ผู้โชคดีสามารถติดต่อรับของรางวัลได้ที่
                </p>
                <div class="text-white ">
                    02-159716 ต่อ 5
                </div>
            </ion-item>
        </div>
        <div ng-show="cx.AnyPresentRewards()">
            <div class="padding">
                <span>คุณเป็นผู้โชคดีได้รับรางวัล</span>
            </div>
            <div class="list">
                <div class="item item-thumbnail-left" ng-repeat="item in cx.GetPresentRewards() | orderBy:'OrderedNo'">
                    <img src="{{ item.ThumbImgPath }}" />
                    <p>
                        <i>
                            วันที่ {{ item.RewardDate | date: 'longDate' }}
                        </i>
                    </p>
                    <p>
                        รางวัลที่ {{ item.OrderedNo }}
                    </p>
                    <p>
                        {{ item.Description }} มูลค่า {{ item.Price }} บาท
                    </p>
                    <p>
                        <i>
                            รหัสของรางวัล
                        </i>
                    </p>
                    <b>
                        <i>
                            {{ item.ReferenceCode }}
                        </i>
                    </b>
                </div>
            </div>
        </div>
        <div>
            <div class="col item bar-league text-center borderless">
                รางวัลที่เคยได้รับ
            </div>
            <div ng-show="cx.AnyPastRewards()" class="padding" ng-repeat="item in cx.GetPastRewards() | orderBy:'-RewardDate'">
                <span>
                    - วันที่ {{ item.RewardDate | date: 'longDate' }}
                </span>
                <br />
                <span>
                    {{ item.Description }} มูลค่า {{ item.Price }} บาท ( {{ item.ReferenceCode }} )
                </span>
            </div>
            <div class="padding text-center" ng-show="!cx.AnyPastRewards()">
                <i>
                    ไม่มีข้อมูลของรางวัล !
                </i>
            </div>

        </div>

    </ion-content>
</ion-view>