<ion-view view-title="DAILY SOCCER">
    <ion-content>
        <div class="padding">
            <ion-item class="item-balanced text-center text-dark no-border">
                <b>
                    เงื่อนไขการรับรางวัล
                </b>
                <br />
                <p class="text-dark">
                    ผู้โชคดีสามารถติดต่อรับของรางวัลได้ที่
                </p>
                <div class="text-white ">
                    02-159716 ต่อ 5
                </div>
            </ion-item>
        </div>
        <!-- รางวัลที่ได้ -->
        <div ng-show="cx.data.length != 0">
            <div class="padding">
                <span>คุณเป็นผู้โชคดีได้รับรางวัล</span>
            </div>
            <div class="list">
                <div class="item item-thumbnail-left no-border" ng-repeat="item in cx.data | orderBy:'OrderedNo'">
                    <img src="{{ item.ThumbImgPath }}" />
                    <p>
                        <i>
                            วันที่ {{ item.CreateDate | date: 'longDate' }}
                        </i>
                    </p>
                    <p>
                        รางวัลที่ {{ item.OrderedNo }}
                    </p>
                    <p>
                        {{ item.RewardName }} มูลค่า {{item.Price}} บาท
                    </p>
                    <p>
                        <i>
                            รหัสของรางวัล
                        </i>
                    </p>
                    <b>
                        <i>
                            {{ item.ReferenceCode }}
                        </i>
                    </b>
                </div>
            </div>
        </div>
        <!-- รางวัลที่เคยได้รับ -->
        <div>
            <!-- มีของรางวัล -->
            <div class="col item item-stable no-border text-center">
                รางวัลที่เคยได้รับ
            </div>
            <div class="padding" ng-repeat="item in cx.oldData | orderBy:'-CreateDate'">
                <span>
                    - วันที่ {{ item.CreateDate | date: 'longDate' }}
                </span>
                <br />
                <span>
                    {{ item.RewardName }} มูลค่า {{item.Price}} บาท ( {{ item.ReferenceCode }} )
                </span>
            </div>
            <!-- ไม่มีของรางวัล -->
            <div class="padding text-center" ng-show="cx.oldData.length == 0">
                <i>
                    ไม่มีข้อมูลของรางวัล !
                </i>
            </div>

        </div>

    </ion-content>
</ion-view>