<ion-view view-title="DAILY SOCCER">
    <ion-content class="rewards">
        <ion-item class="bar bar-royal row">
            <div class="col col-10 col-center">
                <i class="icon ion-star">
                </i>
            </div>
            <div class="col col-center">
                แต้มสะสม {{ cx.couponSummary.RemainingPoints }}
            </div>
            <div class="col col-center">
                <a ui-sref="app.coupon.buy" class="button-block button button-energized">
                    ซื้อคูปอง
                </a>
            </div>
        </ion-item>
        <div class="item item-stable no-border">
            <div class="">
                แลกซื้อคูปองไปแล้วทั้งหมด {{ cx.couponSummary.OrderedCoupons }} ใบ
            </div>
        </div>
        <div class="item no-border text-center no-padding-bottom">
            <div class="">
                รางวัลประจำสัปดาห์
            </div>
        </div>

        <div ng-show="!cx.data.IsAvailable" class="col text-center">ไม่มีข้อมูล</div>
        <div ng-show="cx.data.IsAvailable" class="item no-border text-right" ng-repeat="item in cx.data.Rewards | orderBy:'OrderedNo'">
            <div>
                <img class="col" src="{{ item.ImgPath }}" />
            </div>
            <div class="">
                จำนวน {{ item.Amount }} รางวัล
            </div>
        </div>
        <div ng-show="!cx.data.IsAvailable" class="item no-border text-right">
            <div>
                <img class="col" src="img/Logos/Noitemx1.png" bh-src-responsive="[ [ 'small', 'img/Logos/Noitemx2.png' ], [ 'medium', 'img/Logos/Noitemx3.png' ], [ 'retina', 'img/Logos/Noitemx3.png' ] ]" />
            </div>
        </div>
    </ion-content>
</ion-view>