<ion-view view-title="DAILY SOCCER">
    <ion-content>
        <div class="list">

        </div>
        <div class="card">
            <div class="item item-divider">
                ตั้งค่า
            </div>
            <div class="item item-text-wrap">
                <div class="item row">
                    <div class="col col-80">
                        <h2>
                            เบอร์โทรศัพท์
                        </h2>
                        <p ng-show="cx.userprofile.VerifiedPhoneDate != null">
                            +{{ cx.userprofile.PhoneNo }}
                        </p>
                        <p ng-show="cx.userprofile.VerifiedPhoneDate == null">
                            ยังไม่ได้ยืนยันเบอร์โทรศัพท์
                        </p>
                    </div>
                    <div class="col text-right">
                        <a class="button button-positive" href="#" ui-sref="app.verify.phone">
                            <i class="icon ion-ios-telephone"></i>
                        </a>
                    </div>
                </div>            
             </div>
        </div>
    </ion-content>
</ion-view>