<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced" align-title="center">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <div class="trophy">
                    <i class="ion-trophy" style="color:black; font-size:24px;">
                        <span class="soccer-number" style="font-size:initial;">
                            0
                        </span>
                    </i>
                </div>                
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="bar-dark">
            <h1 class="title">right</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="" ui-sref="app.main.matches">
                    Matches
                </ion-item>
                <ion-item menu-close href="" ui-sref="app.verify.phone">
                    VerifyPhone
                </ion-item>
                <ion-item menu-close href="" ui-sref="app.verify.verifycode">
                    VerifyCode
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
