<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced" align-title="center">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="bar-dark row">
            <div class="col col-10 col-center">
                <i class="ion-star">
                </i>
            </div>
            <div class="col col-center">
                แต้มสะสม {{ cx.couponSummary.RemainingPoints }}
            </div>
            <div class="col col-center">
                <a menu-close href="#" ui-sref="app.reward.lists" class="button-small block button button-energized">
                    แลกของรางวัล
                </a>
            </div>
        </ion-header-bar>
        <ion-content class="padding side-menu">
            <ion-list>
                <ion-item href="#" menu-close ui-sref="app.main.matches({day: cx.CurrentDay})" class="item-royal ">
                    <div>
                        <img height="25" src="img/MenuIcon1x1.png" bh-src-responsive="[ [ 'small', 'img/MenuIcon1x2.png' ], [ 'medium', 'img/MenuIcon1x3.png' ], [ 'retina', 'img/MenuIcon1x3.png' ] ]" />
                        <span class="stable">
                            &nbsp;ตารางแข่งขัน
                        </span>
                    </div>
                </ion-item>
                <ion-item href="#" menu-close  ng-click="cx.ShowPopUp()" class="item-royal">
                    <div>
                        <img height="25" src="img/MenuIcon2x1.png" bh-src-responsive="[ [ 'small', 'img/MenuIcon2x2.png' ], [ 'medium', 'img/MenuIcon2x3.png' ], [ 'retina', 'img/MenuIcon2x3.png' ] ]" />
                        <span class="stable">
                            &nbsp;ทีมและลีค
                        </span>
                    </div>
                </ion-item>
                <ion-item href="#" menu-close ui-sref="app.history.summary" class="item-royal">
                    <div>
                        <img height="25" src="img/MenuIcon3x1.png" bh-src-responsive="[ [ 'small', 'img/MenuIcon3x2.png' ], [ 'medium', 'img/MenuIcon3x3.png' ], [ 'retina', 'img/MenuIcon3x3.png' ] ]" />
                        <span class="stable">
                            &nbsp;สถิติการทายผล
                        </span>
                    </div>
                </ion-item>
                <ion-item href="#" menu-close ui-sref="app.config.setting" class="item-royal">
                    <div>
                        <img height="25" src="img/MenuIcon4x1.png" bh-src-responsive="[ [ 'small', 'img/MenuIcon4x2.png' ], [ 'medium', 'img/MenuIcon4x3.png' ], [ 'retina', 'img/MenuIcon4x3.png' ] ]" />
                        <span class="stable">
                            &nbsp;ตั้งค่า
                        </span>
                    </div>
                </ion-item>

                <ion-item menu-close href="#" class="item-royal">
                    <div class="text-gray">
                        <img height="25" src="img/MenuIcon5x1.png" bh-src-responsive="[ [ 'small', 'img/MenuIcon5x2.png' ], [ 'medium', 'img/MenuIcon5x3.png' ], [ 'retina', 'img/MenuIcon5x3.png' ] ]" />
                        <span class="stable">
                            ออกจากระบบ
                        </span>
                    </div>
                </ion-item>

                <a menu-close class="button button-block dark" ng-click="cx.LoginShow()" href="#">เข้าสู่ระบบ</a>

                <div>
                    <a href="#" menu-close class="button button-block button-balanced " ui-sref="app.underconstruction">
                       <div class="light padding-small">
                           <img height="40" src="img/Playgamex1.png" bh-src-responsive="[ [ 'small', 'img/Playgamex2.png' ], [ 'medium', 'img/Playgamex3.png' ], [ 'retina', 'img/Playgamex3.png' ] ]" />
                          &nbsp; เล่นเกมส์
                       </div>
                    </a>
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
