<ion-modal-view class="bg-main">
    <ion-content class="light text-center">
        <br />
        <div class="row row-center">
            <div class="col col-center">
                <div class="col-67 block-center">
                    เลือกการเชื่อมต่อข้อมูลกับ <br /> Facebook ของคุณ
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-67 block-center">
                <a class="col button button-block button-calm button-small" ng-click="cx.TieWithFacebookData()">ข้อมูลจาก Facebook</a>
                <div class="col">
                    ข้อมูลที่อยู่ใน Facebook จะถูกใช้แทนข้อมูลที่อยู่ในเครื่อง
                </div>
                <i class="balanced">
                    0 แต้ม
                </i>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col col-67 block-center">
                <a class="col button button-block button-balanced button-small" ng-click="cx.TieWithLocalData()">ข้อมูลที่อยู่ในเครื่อง</a>
                <div class="col">
                    ใช้ข้อมูลที่มีอยู่ในเครื่อง
                </div>
                <i class="balanced">
                    0 แต้ม
                </i>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col col-67 block-center">
                <a class="col button button-block button-stable button-small"  ng-click="cx.TiePopup.hide()">ยกเลิก</a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>