<ion-view view-title="DAILY SOCCER">
    <ion-content>
        <div class="text-center">
            <br />
            <div class="col col-75 block-center no-item">
                <img class="col col-33 block-center" src="img/UnderConIconx1.png" bh-src-responsive="[ [ 'small', 'img/UnderConIconx2.png' ], [ 'medium', 'img/UnderConIconx3.png' ], [ 'retina', 'img/UnderConIconx3.png' ] ]" />
                <h4 class="royal">ยังไม่เปิดใช้งาน</h4>
            </div> 
        </div>       
    </ion-content>
</ion-view>