<ion-view view-title="DAILY SOCCER">
    <ion-content class="verify-phone-number">
        <ion-item class="item item-royal">
            <form class="text-center">
                <span class="col row">
                    ยืนยันเบอร์โทร
                </span>
                <div class="padding-bottom col row">
                    <p>
                        <br />
                        <span class="light col col-67 block-center no-padding text-left">กรอกเบอร์โทร</span>
                        <input type="tel" ng-model="phoneNo" ng-minlength="12" ng-maxlength="12" ng-pattern="/\d{3}-\d{3}-\d{4}/" placeholder="xxx-xxx-xxxx" class="col col-67 input-number block-center padding-small"/>
                    </p>
                </div>
                <div class="col col-67 block-center row">
                    <button type="button" class="button button-balanced col col-50 col-offset-50 button-small" ng-disabled="!phoneNo.length" ui-sref="app.verify.verifycode({ phoneNo: phoneNo })">
                        รับรหัสผ่าน
                    </button>
                </div>
            </form>
        </ion-item>
        <br />
        <div class="padding col row">
            <span>
                <i>
                    กรุณากรอกเบอร์โทรศัพท์ที่ถูกต้องเพื่อใช้ในการยืนยันรับของรางวัล หากทีมงานไม่สามารถติดต่อได้จะถือว่าท่านได้ทำการสละสิทธิ์รางวัลนั้นๆ
                </i>
            </span>
        </div>
    </ion-content>
</ion-view>