<ion-view view-title="DAILY SOCCER">
    <ion-content class="rewards">
        <div ng-show="cx.winnerData.length > 0" class="item" ng-repeat="item in cx.winnerData | orderBy:'OrderedNo'">
            <div>
                <b>
                    รางวัลที่ {{ item.OrderedNo }}
                </b>
                <h2>
                    <b>
                        {{ item.Description }} มูลค่า {{ item.Price }} บาท
                    </b>
                </h2>
            </div>
            <div>
                <p ng-show="!(item.Winners.length > 0)">
                    <i>
                        - ไม่มีผู้โชคดีได้รับรางวัล
                    </i>
                </p>
                <p ng-show="item.Winners.length > 0" ng-repeat="name in item.Winners">
                    <i>
                        - {{ name }}
                    </i>
                </p>
            </div>
            <div>
                <img class="col" src="{{ item.ImgPath }}" />
            </div>
        </div>
        <div ng-show="!(cx.winnerData.length > 0)" class="text-center">
            <br />
            <img class="col col-75 block-center" src="img/NoRewardx1.png" bh-src-responsive="[ [ 'small', 'img/NoRewardx2.png' ], [ 'medium', 'img/NoRewardx3.png' ], [ 'retina', 'img/NoRewardx3.png' ] ]" />
        </div>
    </ion-content>
</ion-view>