<ion-view view-title="DAILY SOCCER">
    <ion-content class="rewards">
        <div ng-show="cx.winnerData.length > 0" class="item" ng-repeat="item in cx.winnerData | orderBy:'OrderedNo'">
            <div>
                <b>
                    รางวัลที่ {{ item.OrderedNo }}
                </b>
                <h2>
                    <b>
                        {{ item.Description }} มูลค่า {{ item.Price }} บาท
                    </b>
                </h2>
            </div>
            <div>
                <p ng-show="!(item.Winners.length > 0)">
                    <i>
                        - ไม่มีผู้โชคดีได้รับรางวัล
                    </i>
                </p>
                <p ng-show="item.Winners.length > 0" ng-repeat="winner in item.Winners">
                    <i>
                        - {{ winner.DisplayWinnerName }}
                    </i>
                </p>
            </div>
            <div>
                <img class="col" src="{{ item.ImgPath }}" />
            </div>
        </div>
        <div ng-show="!(cx.winnerData.length > 0)" class="text-center">
            <br />
            <div class="col col-75 block-center no-item">
                <img class="col col-33 block-center" src="img/NoRewardIconx1.png" bh-src-responsive="[ [ 'small', 'img/NoRewardIconx2.png' ], [ 'medium', 'img/NoRewardIconx3.png' ], [ 'retina', 'img/NoRewardIconx3.png' ] ]" />
                <h5 class="royal">ยังไม่มีของรางวัลประจำสัปดาห์</h5>
            </div>            
        </div>
    </ion-content>
</ion-view>