<ion-view view-title="DAILY SOCCER">
    <ion-content>
        <!-- มีผู้รับรางวัล -->
        <div class="item no-border" ng-repeat="item in cx.data">
            <div>
                <b>
                    รางวัลที่ {{ item.OrderedNo }}
                </b>
                <h2>
                    <b>
                        {{ item.RewardName }} มูลค่า {{ item.Price }} บาท
                    </b>
                </h2>
            </div>
            <div>
                <p ng-show="cx.ShowNoWinner(item.RewardId) == -1">
                    <i>
                        - ไม่มีผู้โชคดีได้รับรางวัล
                    </i>
                </p>
                <p ng-repeat="name in cx.nameData | filter:item.RewardId">
                    <i>
                        - {{name.WinnerName}}
                    </i>
                </p>
            </div>
            <div>
                <img class="col" src="{{item.ImgPath}}" />
            </div>
        </div>
        <!-- ไม่มีรางวัล -->
        <!--<div class="item no-border text-right" ng-show="itemCtrl.WinnersInfo.Winners.length==0">
            <div>
                <img class="col" src="img/Logos/Noitemx1.png" bh-src-responsive="[ [ 'small', 'img/Logos/Noitemx2.png' ], [ 'medium', 'img/Logos/Noitemx3.png' ], [ 'retina', 'img/Logos/Noitemx3.png' ] ]" />
            </div>
        </div>-->
    </ion-content>
</ion-view>